/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Devanagari:wght@100..900&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    /* color: rgb(35, 35, 44); */
}
.navigation{
    display: flex;
    border-bottom: 1px solid gray;
    justify-content: center;
    height: 8vh;
    width: 200vh;
    
}
.navigation div ul{
    display: flex;
    list-style: none;
    
}
.navigation div ul li{
    margin: 10px;    
}
/* Main Conter */
.content-right, .content-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: antiquewhite; */
    /* border: 1px solid red; */
}
.content-right div {
    padding: 2rem;
    width: 1/1;  /*????*/
    /* background-color: aquamarine; */
    /* border: 2px dotted blue; */
}
.content-right div img{
    width: 100%;
}
/* Contant Left */
.content-left{
    padding: 2rem;
    /* border: 1px solid green; */
}
.content-left div{
    width: 1/2;
    padding: 2rem;
    /* border: 1px solid black; */
}
.content-left div img{
    width: 100%;
}
/* .img{
    height: 500px;
    border-radius: 20px;
} */
.btn{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
}
.btn:hover{
    background-color: #fff;
    color: black;
}
.content * {
    margin-top: 20px;
    width: 40vw;
}
/* Background Video */
.VideoBgContainer{
    position: relative;
    width: 100vw;
    height: 60vw;
    overflow: hidden;
}
.bg-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* .video-bg-txt{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 21;
    font-size: 2rem;
} */
hr{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80vw;
    margin-left: 10%;
}